.container {
    background: #ffffff;
    padding: 40px 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    border: 3px solid #6a0dad; /* borda roxa sutil */
}

.container img {
    width: 200px;
    margin-bottom: 20px;
}

h2 {
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    color: #6a0dad; /* título roxo */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
}

input,
select,
button {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 14px;
}

input,
select {
    border: 1px solid #ccc;
}

select {
    appearance: none; /* Remove o estilo padrão do sistema */
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 6px;
    font-size: 14px;
    color: #333;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%236a0dad' class='bi bi-caret-down-fill' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14 2.451 5.658C1.885 5.016 2.345 4 3.204 4h9.592c.86 0 1.32 1.016.753 1.658L8.753 11.14a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 16px 16px;
}

button {
    background-color: #ffd700; /* amarelo */
    color: #6a0dad; /* texto roxo */
    font-weight: bold;
    border: 2px solid #6a0dad;
    cursor: pointer;
    margin-top: 10px;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #f0c000; /* amarelo mais escuro ao passar o mouse */
    color: #4b0082; /* roxo escuro para destaque */
}

.link-usuarios {
    margin-top: 25px;
    text-decoration: none;
    color: #6a0dad;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.3s;
}

.link-usuarios:hover {
    color: #4b0082; /* roxo mais escuro */
}
